daynotes/
support/notes/markdown/
support/notes/tickets
support/shortnames/
support/ticketlinks/
support/tickets/
support/git
support/notes/translate.koha-community.org/
support/notes/wiki/
support/review_tickets/
support/rt-users/

